/********************
General
*********************/
.wrap-cont {
	width: 100%;
}

/********************
First Area + Navbar
*********************/
.first-area{
	background:url('../images/general/bkg.jpg'); background-repeat: no-repeat; 
	background-size:cover; 
	height: auto;
}
.navbar-inverse {
	background-color:rgba(0,0,0,.0);
	border-color:transparent;
	border-bottom: 1px solid #fff;
	border-radius: 0px !important;
}
.navbar-inverse .navbar-nav>li>a {
	color:#fff;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: rgba(0,0,0,.5) !important;
}
.search-btn {
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}
.logo-area{
	text-align: center; 
	padding-bottom: 40px;
}
.logo-text-holder{
	text-align: center;
}
.logo-text {
	color:#fff; 
	text-transform:uppercase; 
	font-weight: 200; 
	line-height: 30px; 
	letter-spacing: 3px; 
	width: 50%; 
	border-top: 1px solid #fff; 
	margin: 0px auto; 
	padding: 45px 0px;
}
/********************
Second Area
*********************/
.second-area-bkg {
	padding: 0px; 
	height: auto;
}
.second-area-bkg{
	width: 100%;
}

.second-area-bkg-img{
	width: 100%;
}

/********************
Third Area
*********************/
.left {
	text-align: center;
}

.left-text {
	font-weight: bold; 
	font-size: 60px; 
	text-transform:uppercase;
	margin-top: 55px; 
}

.right {
	padding-bottom: 10px;
}

.right-div{
	border-left: 1px solid #ddd; 
	margin-top: 55px; 
	margin-bottom: 55px; 
	padding-left: 40px;
}

.right-div-1{
	letter-spacing:2px; 
	color: #006067; 
	font-weight: bold;
}

.right-div-2 {
	letter-spacing: 2px;
}

.right-div-3 {
	background-color: transparent; 
	border: 1px solid #006067; 
	color: #006067;
	padding: 5px 20px;
}

/********************
Fourth Area
*********************/
.fourth-area-holder {
	padding: 0px 0px;
	display: flex;
}

.fourth-area-left{
	background:url('../images/general/sec4.jpg'); 
	height: inherit; 
	text-align: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	padding: 25% 0%;
}

.fourth-left-text {
	font-size:50px; 
	letter-spacing:6px; 
	color: #fff;  
	text-transform: uppercase;
}

.fourth-area-right {
	background-color: #d8d1c9; 
	height: inherit; 
	padding-left: 5%; 
	padding-top: 5%;
}

.right-p {
	color:#006067; 
	font-size: 20px;
}
.right-a {
	font-weight: bold; 
	color:#006067;
}
/********************
Media Queries Area
*********************/

@media only screen and (max-width: 991px) {
	.fourth-area-left{
		background:url('../images/general/sec4.jpg'); 
		height: inherit; 
		text-align: center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		padding: 15% 0%;
	}
	.fourth-area-holder {
		display: initial !important;
	}
}