/********************
General
*********************/
.wrap-cont {
	width: 100%;
	padding: 0px;
}
.col-md-12 {
padding: 0px; 
width: 100%;
}
.row{
	width: 100%;
	margin: 0px;
}
/********************
First Area + Navbar
*********************/
.first-area{
	background:url('../images/general/bkg.jpg'); background-repeat: no-repeat; 
	background-size:cover; 
	height: auto;
}
.navbar-inverse {
	background-color:rgba(0,0,0,.0);
	border-color:transparent;
	border-bottom: 1px solid #fff;
	border-radius: 0px !important;
}
.navbar-inverse .navbar-nav>li>a {
	color:#fff;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: rgba(0,0,0,.5) !important;
}

.nav-search {
	background-color: transparent;
}
.search-btn {
	background-color: transparent;
	border-color: transparent;
	color: #fff;
}
.logo-area{
	text-align: center; 
	padding-bottom: 40px;
}
.logo-text-holder{
	text-align: center;
}
.logo-text {
	color:#fff; 
	text-transform:uppercase; 
	font-weight: 200; 
	line-height: 30px; 
	letter-spacing: 3px; 
	width: 50%; 
	border-top: 1px solid #fff; 
	margin: 0px auto; 
	padding: 45px 0px;
}
/********************
Second Area
*********************/
.second-area-bkg {
	padding: 0px; 
	height: auto;
}
.second-area-bkg{
	width: 100%;
}

.second-area-bkg-img{
	width: 100%;
}

/********************
Third Area
*********************/
.left {
	text-align: center;
}

.left-text {
	font-weight: bold; 
	font-size: 60px; 
	text-transform:uppercase;
	margin-top: 55px; 
}

.right {
	padding-bottom: 10px;
}

.right-div{
	border-left: 1px solid #ddd; 
	margin-top: 55px; 
	margin-bottom: 55px; 
	padding-left: 40px;
}

.right-div-1{
	letter-spacing:2px; 
	color: #006067; 
	font-weight: bold;
}

.right-div-2 {
	letter-spacing: 2px;
}

.right-div-3 {
	background-color: transparent; 
	border: 1px solid #006067; 
	color: #006067;
	padding: 5px 20px;
}

/********************
Fourth Area
*********************/
.fourth-area-holder {
	padding: 0px 0px;
	display: flex;
}

.fourth-area-left{
	background:url('../images/general/sec4.jpg'); 
	height: inherit; 
	text-align: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	padding: 25% 0%;
}

.fourth-left-text {
	font-size:50px; 
	letter-spacing:6px; 
	color: #fff;  
	text-transform: uppercase;
}

.fourth-area-right {
	background-color: #d8d1c9; 
	height: inherit; 
	padding-left: 5%; 
	padding-top: 5%;
}

.right-p {
	color:#006067; 
	font-size: 20px;
}
.right-a {
	font-weight: bold; 
	color:#006067;
}

/********************
Fifth Area
*********************/
.fifth-area-holder{
	padding: 0px;
}

.fifth-area-img{
	width: 100%;
}
/********************
Media Queries Area
*********************/

@media only screen and (max-width: 991px) {
	.fourth-area-left{
		background:url('../images/general/sec4.jpg'); 
		height: inherit; 
		text-align: center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		padding: 15% 0%;
	}
	.fourth-area-holder {
		display: initial !important;
	}
}

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.carousel-control.left {
	background-image: none;
}
#quote-carousel .carousel-control.left i {
	float: left;
}
#quote-carousel .carousel-control.right i {
	float: left;
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}